<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkust.comp4521.hippos" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- for GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="com.hkust.comp4521.hippos.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hkust.comp4521.hippos.gcm.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hkust.comp4521.hippos" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmMessageHandler" />

        <receiver android:name=".utils.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name=".utils.InvoiceHandler" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".NewInvoiceActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_new_invoice" />
        <activity
            android:name=".InventoryListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_inventory_list" />
        <activity
            android:name=".InventoryDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_inventory_details" />
        <activity
            android:name=".SalesHistoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_sales_history" />
        <activity
            android:name=".SalesDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_sales_details" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".EditInventoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_inventory" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".PreLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
